<h2 class="h2">My events</h2>
<div class="parent">
  <ol class="movies">
    <li class="movieListItem"
        *ngFor="let eachEvent of events">

        Event title: {{eachEvent.title}}<br>
        Event Description: {{eachEvent.description}}<br>
        Event location: {{eachEvent.location}}<br>
        Event Date: {{eachEvent.createdDate}}<br>
        <button routerLink="/events/{{eachEvent.id}}">Invite Friend</button>

    </li>
  </ol>
  <!-- <app-movie-detail [movie]="selectedMovie"></app-movie-detail> -->
</div>
